doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title PENYAKIT TUBERKOLOSIS

    // build:css styles/styles.css
    //- Check out 'src/bower_components/prism/themes/' for available themes
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-tomorrow.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
         h2 PENYAKIT TUBERKOLOSIS
         h3 Present By
         ul
            li Aspes Hagai Poltak Sitorus : 101112916
            li Hara Gabe Lumbantoruan     &nbsp&nbsp: 101112045
            li Rhony Abdullah Siagian     &nbsp &nbsp &nbsp: 101111589
            li Ruben Alfredo Tampubolon : 101112428

      section
        h1 What Is Tuberkolosis
        h1 ?

      section
        
        p <strong>Tuberkulosis</strong> merupakan salah satu penyebab kematian di negara-negara berkembang yang disebabkan oleh bakteri  mycobacterium tubercolosis.  Bakteri ini pertama kali ditemukan oleh Robert Koch pada tanggal 24 Maret 1882.  Gejala-gejala penderita tuberkolosis diantaranya batuk-batuk, sakit dada, nafas pendek, hilang nafsu makan, berat badan turun, demam, kedinginan, dan kelelahan. 
 
      section
        <img src="img/tbc1.jpg" width="200" height="200">
        h3 <strong>Menurut data World Health Organization (WHO)</strong> 
      
      section
        p <i>Tuberkolusis</i> masih  menjadi penyebab utama meningkatnya angka mortalitas dunia.  Penularan penyakit ini karena kontak dengan dahak atau menghirup titik-titik air dari bersin atau batuk dari orang yang terinfeksi kuman tuberkulosis, anak anak sering mendapatkan penularan dari orang dewasa di sekitar rumah maupun saat berada di fasilitas umum seperti kendaraan umum, rumah sakit dan dari lingkungan sekitar rumah
 
      section
         h3 Penyakit Menular
         ul
            li Penyakit menular dapat diklasifikasikan menjadi dua kategori besar yaitu mikroparasitisme dan makroparasitisme.
            li Mikroparasitisme adalah penyakit menular yang disebabkan oleh virus dan bakteri, contohnya seperti cacar dan campak. 
            li Makroparasitisme adalah penyakit menular yang disebabkan oleh cacing dan serangga, contohnya seperti demam berdarah dan malaria. 
            li Jadi dalam pembahasan ini, penyakit TBC (tuberculosis) adalah jenis penyakit mikroparas
      
      section
         h3 TBC
         ul
            li Organisasi Kesehatan Dunia WHO menggolongkan TBC sebagai penyakit endemic yang sulit dihilangkan.
            li Riset WHO menunjukkan hampir 1/3 penduduk dunia mengidap TBC. Setiap tahun, lebih dari 1.7 juta orang meninggal. 
            li Laju penyebaran penyakit ini sulit dibendung lantaran TBC mudah sekali menular.
            li Indonesia merupakan Negara kelima sebagai Negara paling banyak pengidap TBC.
            
      section(data-bespoke-hash='named-route')
        h2 Vaksinasi TBC
        ul
            li Vaksin adalah suspensi kuman atau virus yang telah dilemahkan dan dipergunakan untuk mengobati atau mencegah suatu penyakit menular
            li Vaksin yang digunakan untuk penyakit TBC yaitu vaksin BCG (Basillus Calmette et Guerin)

      section(data-bespoke-state='emphatic')
        h2 Pencegahan TBC
        ul 
            li Ventilasi ruangan Kuman TBC menyebar lebih mudah dalam ruang tertutup kecil dimana kapasitas udara sedikit, untuk itu disarankan untuk membuka ventilasi agar sinar matahari dan udara segar masuk secukupnya ke
            li Penggunaan masker untuk menutup mulut kapan saja merupakan langkah pencegahan TBC secara efektif. 
            li Meludah hendaknya pada tempat tertentu yang sudah diberi 	desinfektan (air sabun)
            li Pemberian imunisasi BCG hendaknya diberikan pada bayi berumur 3-14 bulan
            li Menghindari udara dingin 
            li Makanan harus tinggi karbohidrat dan tinggi protein
            li Menjemur kasur, bantal,dan tempat tidur terutama pagi hari
            li Khusus untuk penderia, semua barang yang digunakan penderita harus terpisah begitu juga mencucinya dan tidak boleh digunakan oleh orang lain

     
    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/bespoke-forms/dist/bespoke-forms.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild